Source: szn-libgeos
Section: science
Priority: optional
Maintainer: Jiri Drbalek <jiri.drbalek@firma.seznam.cz>
Build-Depends: debhelper (>= 4.0.0),
    g++, autoconf, autotools-dev
Standards-Version: 3.9.6

Package: szn-libgeos
Section: science
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Description: GEOS (Geometry Engine - Open Source) library
 GEOS (Geometry Engine - Open Source) is a C++ port of the 
 Java Topology Suite (JTS). As such, it aims to contain the 
 complete functionality of JTS in C++. This includes all 
 the OpenGIS "Simple Features for SQL" spatial predicate 
 functions and spatial operators, as well as specific JTS 
 topology functions such as IsValid().
