#!/usr/bin/make -f

#export DH_VERBOSE=1

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O3
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure_flags += --prefix=/opt/szn/geos

override_dh_auto_configure:
	dh_auto_configure -- $(configure_flags)

override_dh_autoreconf:
	./autogen.sh

%:
	dh $@ --with autoreconf --parallel
