#!/usr/bin/make -f

#export DH_VERBOSE=1

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O3 -msse3 -msse4
endif

override_dh_auto_configure:
	CXXFLAGS="$(CFLAGS)" ./configure --prefix=/opt/szn/geos

override_dh_autoreconf:
	./autogen.sh

override_dh_auto_test:
	echo "Tests are disabled"

%:
	dh $@ --with autoreconf --parallel
